
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
  

.song-list h3{
    margin-bottom: 20px;
}

.Canciones{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.05);
    transition: 0.3s;
    }

.playbutton{
    background-color: blue;
}