
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
  
.header{
    align-items: left;
    margin-bottom: 50px;
}

.main-content{
    margin-left: 180px;
}

.main-content {
    color: rgba(85, 0, 165, 0.658);
}