.main-content {
    margin-left: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-container {
    background: #14122a;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 40px rgba(138, 43, 226, 0.3);
}

.shop-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
}

.checkout-btn {
    display: block;
    text-align: center;
    margin-top: 25px;
    padding: 12px;
    background: #8a2be2;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.checkout-btn:hover {
    background: #a855f7;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background: #2f2a6a;
    color: white;
}

form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #8a2be2;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #a855f7;
}
